<div class="section">
  <h2><%%= t("confirm_new", :scope => :scaffold, :model => <%= class_name %>.model_name.human) %></h2>

  <%%= render 'confirm' %>

  <p>
    <%%= link_to t('list', :scope => :scaffold, :model => <%= class_name %>.model_name.human), <%= plural_name %>_path %>
  </p>
</div>

