<div class="section">
  <h2><%%= t("new", :scope => :scaffold, :model => <%= specified.class_name %>.model_name.human) %></h2>

  <%%= render 'form' %>

  <hr />

  <p>
    <%%= link_to t('back', :scope => :scaffold), <%= index_helper %>_path %>
  </p>
</div>

