<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title>タイトル</title>
    <%%= csrf_meta_tag %>
    <%%= javascript_include_tag :defaults %>
    <%%= stylesheet_link_tag "ouscaffold/ouscaffold.css" %>
  </head>
  <body class="<%%= RAILS_ENV %>">
    <div class="header" id="header">
      <h1>タイトル</h1>
    </div><!-- end of id="header" -->
    <div class="main" id="main">
      <div id="body-container">
        <div id="body">
<%%- if notice -%>
    <div class="flash-notice"><%%= notice %></div>
<%%- end -%>
<%%- if alert -%>
    <div class="flash-alert"><%%= alert %></div>
<%%- end -%>
<%%= yield %>
        </div><!-- end of id="body" -->
      </div><!-- end of id="body-container" -->
      <div id="menu">
<%%= render :partial => 'shared/menu' %>
      </div><!-- end of id="menu" -->
    </div><!-- end of id="main" -->
    <div class="footer" id="footer">
      <!-- .... -->
    </div><!-- end of id="footer" -->
  </body>
</html>

